[Unit]
Description=My service
After=network.target

[Service]
ExecStart=startup_at_boot.sh
WorkingDirectory=/home/pi/loop-baby/static
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
