[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u loop-baby/looper.py
WorkingDirectory=/home/pi/loop-baby
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
