[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/home/pi/loop-baby/static/startup_at_boot.sh
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
